body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1f7a3f, #9ccc65);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 360px;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    color: #1f7a3f;
    margin-bottom: 5px;
}

p {
    color: #666;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 13px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 10px;
    background: #1f7a3f;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

    button:hover {
        background: #155d2f;
    }

#mesaj {
    margin-top: 15px;
    font-weight: bold;
}
